<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<div style="height: 500px; background-color: lightgreen; padding: 0">

    <div style="height: 80px; background-color: lightcoral; width: 100%"></div>

    <center style="margin: 20px">
        <div style="font-size: 20px;width: 100%">Hello dear {{this.firstName}} {{this.lastName}}, glad to see you again!!!</div>

        <div style="margin: 15px; font-size: 24px; width: 100%">
            And remember only one!!!
        </div>
        <div style="width: 100%">
            <img style="width: 200px; height: 200px; border-radius: 50%" src={{this.warShip}} alt="photo">
        </div>
        <div style="margin: 15px; font-size: 24px">
            GLORY TO UKRAINE
        </div>
    </center>
</div>

</body>
</html>
